body {
  font-family: Verdana, Roboto, 'Droid Sans', 'MS PGothic', sans-serif;
  background-color: #f6f6f6;
}

.ui.blue.inverted.progress .bar {
  background-color: #013dfd;
  height: 30px;
}

.ui.progress .bar > .progress {
  font-size: 1em;
}

.ui.inverted.menu {
  background-color: #666;
}

.top-menu .ui.fixed.top.sticky {
  z-index: 999;
}

.ui.menu .blue.active.item {
  border-color: #013dfd !important;
  color: #013dfd !important;
}

.ui.blue.label {
  background-color: #013dfd !important;
  border-color: #013dfd !important;
}
